language: java
install: true

jdk:
  - oraclejdk8

before_script:
  - chmod +x ./gradlew
  - chmod +x ./gradle/wrapper/gradle-wrapper.jar
script:
  - ./gradlew --no-daemon build --info

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - '$HOME/.gradle/caches/'
    - '$HOME/.gradle/wrapper/'
